
body{
    font-family: 'Red Hat Display', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    min-height: 100vh;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;


}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;

}

.text{
    padding-left: 12%;
    padding-right: 12%;;
    text-align: center;
    padding-bottom: 30px;
    
    
}
.title{

    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.plan-box{
    background-color: #f8f9fe;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 40px;
    margin-top: 20px;
    
}
.plan-box-left{
    display: flex;
    align-items: center;
}
.left-text{

    padding-left: 13px;
    align-items: center;
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    
    text-decoration: none;
}
.t-change{
    color: hsl(245, 75%, 52%);
    text-decoration:underline hsl(224, 23%, 55%);

}
.t-change:hover{
    color:  hsl(224, 23%, 55%);
}
.proceed-btn{
    margin-top: 30px;
    background-color:  hsl(245, 75%, 52%);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
.proceed-btn:hover{
    background-color:  hsl(224, 23%, 55%);
}
.proceed-button{
    color: white;
    font-weight: bolder;
    
}
.p-text{
    color: #767779;
}
.cancel-button{
    color: #767779;
    font-weight: bold;
    margin-bottom: 20px;
}
.cancel-button:hover{
    color:  hsl(223, 47%, 23%);
}

@media only screen and (max-width: 500px) {
    .container{
        max-width: 90%;
    }
    
    body{
        background-image: url("images/pattern-background-mobile.svg");
        font-size: 14px;

    }
}

@media only screen and (max-height:300px){
    
}